@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/*header*/

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  padding: 1em 13em;
}

.logo {
  font-size: 24px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.links {
  display: flex;
  gap: 1.5em;
}

.intro {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin: 4em 0;
}

.intro .left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.intro button {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  padding: 7px 1em;
  width: 120px;
  border: none;
}

.intro .right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  flex-shrink: 0;
  width: 50%;
  height: 215px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

li {
  list-style: none;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.left p {
  font-size: 18px;
  color: #e5e7eb;
}

/*main*/

main {
  padding: 0 13em;
  margin-bottom: 6em;
}

h2 {
  text-align: center;
  margin: 3em 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 0.5em;
}

.card-box {
  border: 4px solid #3882f6;
  border-radius: 20px;
  width: 160px;
  height: 160px;
}

/*quote*/

.quote {
  display: flex;
  flex-direction: column;
  padding: 8em 18em;
  background-color: rgb(238, 237, 237);
}

.text {
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
}

.quoter {
  align-self: flex-end;
  font-style: bold;
  font-size: 16px;
}

/*sign up*/

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 13em;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em;
  width: 100%;
  border-radius: 10px;
  background-color: #3882f6;
}

.container .left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.left span {
  font-size: 32px;
  color: #f9faf8;
}

.right-button {
  border: 2px solid #fff;
  font-size: 24px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 4px 16px;
}

/*footer*/
